<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ROKMonster OCR</title>
    <link href="/css/tabler.min.css" rel="stylesheet" />
</head>

<body class=" border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
        <div class="container-tight py-4">
            <form class="card card-md" action="." method="get" autocomplete="off">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <a href="/" class="navbar-brand navbar-brand-autodark">ROKMonster OCR</a>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="/login" class="btn btn-white w-100">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-brand-google" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M17.788 5.108a9 9 0 1 0 3.212 6.892h-8"></path>
                                </svg>
                                Login with Google
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="/js/tabler.min.js"></script>
</body>

</html>