{{template "partials/head.html" .}}


<div class="container-fluid">
    <div class="card">
        <div class="card-header">Jobs</div>
        <table class="card-table table table-vcenter table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-nowrap w-1">#</th>
                    <th class="text-nowrap">JobName</th>
                    <th class="text-nowrap w-1">Status</th>
                    <th class="text-nowrap w-1">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ range $i, $job := .jobs }}
                <tr>
                    <td class="text-nowrap w-1">{{ $job.ID }}</td>
                    <td class="text-nowrap">{{ $job.Name }}</td>
                    <td class="text-nowrap w-1">{{ $job.Status }}</td>
                    <td class="text-nowrap w-1">
                        <a href="/jobs/{{ $job.ID }}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="/jobs/{{ $job.ID }}/start" class="btn btn-dark btn-sm">Start</a>
                        <a href="/jobs/{{ $job.ID }}/results" class="btn btn-dark btn-sm">Results</a>
                        <a href="/jobs/{{ $job.ID }}/delete" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>

        <div class="card-footer">
            <a href="/jobs/create/" class="btn btn-primary">Create new job</a>
        </div>

    </div>
</div>

{{template "partials/foot.html" .}}