{{template "partials/head" .}}


<div class="container-fluid">
    <div class="card">
        <div class="card-header">Template Builder</div>


        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                <div class="input-group">
                    <input type="file" name="image" class="form-control" id="inputGroupFile04"
                        aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
                </div>
            </form>

        </div>

    </div>
</div>

{{template "partials/foot" .}}