<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>ROK OCR</title>
    <!-- CSS files -->
    <link href="/css/tabler.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://unpkg.com/cropperjs@1.5.12/dist/cropper.min.css">
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5.9.3/dist/min/dropzone.min.css" type="text/css" />

    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.js"></script>
    <script src="https://unpkg.com/cropperjs@1.5.12/dist/cropper.js"></script>
    <script src="https://unpkg.com/jquery-cropper@1.0.1/dist/jquery-cropper.min.js"></script>
    <script src="https://unpkg.com/dropzone@5.9.3/dist/min/dropzone.min.js"></script>

  </head>
  <body class="antialiased">
    <div class="wrapper">
      <header class="navbar navbar-expand-md navbar-dark d-print-none">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="/">ROK OCR</a>
          </h1>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
              <ul class="navbar-nav">
                
                <li class="nav-item">
                  <a class="nav-link" href="/jobs" >
                    <span class="nav-link-title">
                      Jobs
                    </span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/templates" >
                    <span class="nav-link-title">
                      Template Builder
                    </span>
                  </a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="page-wrapper">
        <div class="page-body">
         